* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reusable sections */
.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  color: white;
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1600px;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-container {
  padding: 16px 120px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
