* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reusable sections */
.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  color: white;
  font-weight: 600;
}

.btn:hover {
  background-color: #5ba67e;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(74, 140, 106, 0.3);
}

/* sequential styling */

.container {
  width: 100%;
  max-width: 1600px;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.navbar-container {
  padding: 16px 120px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.hero-section {
  background: url(../assets/hero-bg.png), rgba(0, 25, 49, 0.8);
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.hero-upper-btn {
  display: flex;
  color: rgba(70, 145, 101, 1);
  gap: 8px;
  align-items: center;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 24px;
}

.hero-upper-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(74, 140, 106, 0.3);
}

.hero-upper-btn .circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  box-shadow: 0 0 0 5px rgba(74, 140, 106, 0.4),
    0 0 0 20px rgba(74, 140, 106, 0.1); /* this was hard to make*/
  margin-right: 2px;
}

.hero-heading {
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-align: center;
  text-transform: capitalize;
}

.hero-heading .colored-heading {
  color: rgba(48, 184, 104, 1);
}

.hero-para {
  font-size: 18px;
  text-align: center;
  color: white;
  line-height: 2;
}

.hero-lower-btns {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.hero-lower-btns .primary-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.transperent-btn {
  background: transparent;
  border: 2px solid rgba(70, 145, 101, 1);
}

.after-hero-heading h3 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 48px;
  text-transform: capitalize;
}

.after-hero-heading p {
  text-align: center;
  margin-top: 16px;
  color: rgba(98, 115, 130, 1);
}

.cards-container {
  display: flex;
  justify-content: space-between;
  padding: 44px 120px 0 120px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 322px;
  width: 300px;
  padding: 24px;
  margin-bottom: 72px;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card-circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: rgba(249, 85, 85, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h4 {
  font-weight: 600;
  font-size: 24px;
  color: rgba(0, 25, 49, 1);
  text-transform: capitalize;
}

.card p {
  color: rgba(98, 115, 130, 1);
}

.second-brain-section {
  padding: 120px;
  display: flex;
  gap: 60px;
}

.second-brain-section-left img {
  height: 400px;
  width: 400x;
}

.second-brain-section-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.second-brain-section-right .upper-para {
  color: rgba(70, 145, 101, 1);
  text-transform: uppercase;
  font-weight: 500;
}

.second-brain-section-right h2 {
  font-size: 48px;
  font-weight: 700;
  color: rgba(0, 25, 49, 1);
  text-transform: capitalize;
}

.second-brain-section-right p {
  color: rgba(98, 115, 130, 1);
  line-height: 1.8;
}

.second-brain-section-right .minor-btn {
  color: rgba(98, 115, 130, 1);
}

.second-brain-section-right-check-list {
  display: flex;
  gap: 6px;
  align-items: center;
}

.check-icon {
  height: 20px;
  width: 20px;
}

.second-brain-section-right-check-list p {
  font-weight: 500;
  color: rgba(0, 25, 49, 1);
}

.check-list-container {
  margin-top: 20px;
}

.early-access-section {
  padding: 0 120px 120px 120px;
}

.early-access-section-container {
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
}

.early-access-section-container h4 {
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
  color: rgba(0, 25, 49, 1);
}

.early-access-section-container p {
  color: rgba(98, 115, 130, 1);
  text-align: center;
}

.early-access-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.early-access-lower-para {
  color: rgba(98, 115, 130, 1);
}

.footer-container {
  background: rgba(0, 25, 49, 1);
  display: flex;
  flex-direction: column;
  padding: 120px 120px 0 120px;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-links h5 {
  color: white;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icons img {
  color: white;
  height: 20px;
  width: 20px;
}

.footer-middle {
  margin-top: 80px;
  margin-bottom: 30px;
  border: 1px solid rgba(229, 231, 235, 1);
  opacity: 0.2;
}

.footer-bottom p {
  color: white;
  text-align: center;
  font-size: 13px;
  margin-bottom: 30px;
}
